{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">                
        <h4> Submit new post </h4>
        <form action="{{ url_for('profile') }}" method=post enctype="multipart/form-data" >
        {{ form.hidden_tag() }}                
        
        {{ form.text.label }}
        {{ form.text }}
     
        {{ form.category.label }}
        {{ form.category }}
        
        {{ form.image.label }}
        {{ form.image }}
        
        {{ form.submit }}
        </form>    
    </div>
    <!-- error messages -->    
    {% for message in form.text.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.category.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% for message in form.image.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}  
{% endblock %}

